.question {
	margin-bottom: 20px;
	background-color: #eee;
	border-radius: 16px;
}

.q-score {
	background-color: #ddd;
	border-radius: 16px;
	padding: 12px;
}

.q-texte {
	padding: 6px;
	margin: 8px;
	border-bottom: 1px solid #888;
}

.reponse {
	margin: 0 16px 8px;
	display: flex;
	justify-content: space-between;
}

