<covid-summary>

	<div>
		<h2>{ props.title }</h2>
		<ul>
			<li class='confirmed'>Cas : { props.confirmed }</li>
			<li class='deaths'>Morts : { props.deaths }</li>
			<li  class='recovered'>Guéris : { props.recovered }</li>
		</ul>
	</div>

	<style>
		
	</style>

</covid-summary>